<h1>How are you feeling today?</h1>

<form method="post" action="/patient/signin" class="form">
    
    <label for="email">Your Email</label>
    <input class="input" type="email" id="email" name="email" value="testpatient@email.com">
    
    <label for="password">Your password</label>
    <input class="input" type="password" id="password" name="password" value="12345">
    
    <button class="btn">Sign in</button>
</form>
<p>
    Don't have an account yet ? <a href="/patient/signup">Sign up</a>
</p>