<h1>How are you feeling today?</h1>

<form method="post" action="/auth/patient.signup" class="form">


    <label for="name">Name</label>
    <input class="input" type="text" id="name" name="name" value="test name">

    <label for="lastname">Lastname</label>
    <input class="input" type="text" id="lastname" name="lastname" value="test lastname">
    
    <label for="email">Your Email</label>
    <input class="input" type="email" id="email" name="email" value="test@email.com">
    
    <label for="password">Your password</label>
    <input class="input" type="password" id="password" name="password" value="12345">
    
    <label for="mytherapy">Your therapy</label>
    <select name="mytherapy" id="mytherapy" multiple>
        <option value="cbt">'Cognitive-behavioral therapy (CBT)'</option>
        <option value="psychoanalytictherapy">Psychoanalytic therapy</option>
        <option value="grouptherapy">Group therapy</option>
    </select>

    <label for="mytherapist">Your therapist</label>
    <input type="text" name="mytherapist" id="mytherapist" value="Dr.Kehl">

    <label for="mygoal">Your goal</label>
    <input type="text" name="mygoal" id="mygoal">

    <button class="btn">Sign up</button>

    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
    
</form>
<p>
    Already got an account ? <a href="/auth/patient.signin">Sign in</a>
</p>