<h2 class="title-page">Create a new document</h2>

<h3 class="title-doc">Which strategy?</h3>

<div class="form-container" id="doc-btns">
<button class="btn-patient">Journaling</button>

<button class="btn-patient">Role playing</button>

<button class="btn-patient">Relaxation technique</button>

<button class="btn-patient">Mental distraction</button>
</div>

