<h2>Create a new document</h2>

<h3>Which strategy?</h3>

<div id="doc-btns">
<button>Journaling</button>


<button>Role playing</button>

<button>Relaxation technique</button>

<button>Mental distraction</button>
</div>

