<form class="form-container" method="post" action="/patient/add-document/text">
    <h3 class="title-page">Write down your thoughts :</h3>
    <div>
        <label class="label" for="date">Date of the event:</label>
        <input type="date" name="date">
    </div>

    <div>
        <label for="title">Title</label>
        <input type="title" name="title" placeholder="Write your text here">
    </div>

    <div>
        <label for="text">Your text</label>
        <input type="text" placeholder="Write your text here" name="text">
    </div>

    <button class="btn-patient">Save</button>

    </form>