<form action="/add-document/text">
    <h3>Write down your thoughts :</h3>
    <div>
        <label for="date">Date of the event:</label>
        <input type="date" name="date">
    </div>

    <div>
        <label for="text">Your text</label>
        <input type="text" placeholder="Write your text here" name="text">
    </div>

    <button type="submit">SAVE</button>

    </form>