<h2>Create a new document</h2>

<h3>Which strategy?</h3>

<div>
<button>Journaling</button>
<button>Text</button>
<button>Loop</button>
</div>
<div>
<button>Role playing</button>
</div>
<div>
<button>Relaxation technique</button>
</div>
<div>
<button>Mental distraction</button>
</div>