<h3 class="title-page">Write down your thoughts </h3>
<div class="form-container">
  <form  class="form" method="post" action="/patient/add-document/text">
  
    <label for="date">Date of the event</label>
    <input class="input" type="date" name="date">

    <label  for="title">Title</label>
    <text-area><input class="input" type="title" name="title" placeholder="Write your text here"></text-area>

    <label  for="text">Your text</label>
    <textarea class="input-text" placeholder="Write your text here" name="text" rows="20" cols="33"></textarea>


    <button class="btn-patient">Save</button>

  </form>

</div>