   <h3 class="title-page">Describe your thoughts and feelings</h3>

<div class="form-container">
<form class="form" method="post" action="/patient/add-document/loop">
 

        <label for="date">Date of the event:</label>
        <input type="date" name="date">

        <label for="title">Title</label>
        <input type="title" placeholder="Title" name="title">
  
        <label for="triggers">What triggered this loop?</label>
      <textarea class="input-text" name="triggers" rows="15" cols="20" placeholder="Your trigger(s)"></textarea>

        <label for="emotionalFeelings">Which emotions did you felt?</label>
        <textarea class="input-text" name="emotionalFeelings" rows="15" cols="20" placeholder="The emotions you felt"></textarea>

        <label for="bodyFeelings">How did your body felt?</label>
        <textarea class="input-text" name="bodyFeelings" rows="15" cols="20" placeholder="Your body feeling(s)"></textarea>

        <label for="thoughts">What were you thinking?</label>
        <textarea class="input-text"  name="thoughts" rows="15" cols="20" placeholder="Your thought(s)"></textarea>   

        <label for="behaviors">What did you do?</label>
        <textarea class="input-text" name="behaviors" rows="15" cols="20" placeholder="Your behavior(s)"></textarea>  

    <h4 class="title-doc">Alternative thoughts</h4>
  
        <label for="chooseOneThought">First, choose one thought:</label>
        <textarea class="input-text" name="chooseOneThought" rows="15" cols="20" placeholder="The main thought this time"></textarea>   

        <label for="whatElse">What else could I tell me in this situation ?</label>
        <textarea class="input-text" name="whatElse" rows="15" cols="20" placeholder="Write your text here"></textarea>   

        <label for="whatSomeone">What <i>x,y or z</i> could think about this situation ?</label>
        <textarea class="input-text" name="whatSomeone" rows="15" cols="20" placeholder="Choose someone you trust"></textarea>   

        <label for="whatOutsider">What an outside observer could tell about it ?</label>
        <textarea class="input-text" name="whatOutsider" rows="15" cols="20" placeholder="Write your text here"></textarea> 

        <label for="whatTwoYears">What would I say about this situation in two years ?</label>
        <textarea class="input-text" name="whatTwoYears" rows="15" cols="20" placeholder="Write your text here"></textarea>  

        <label for="alternativeThoughts">With all these answers, which alternative thought(s) work for you ?</label>
        <textarea class="input-text" name="alternativeThoughts" rows="15" cols="20" placeholder="Write your alternative thought(s) here"></textarea>

    <button class="btn-patient">Save</button>

</form>

</div>