<h3 class="title-page">Read your text document </h3>
<div class="form-container">
  <h4>Date of the event</h4>
  <p class="input">{{text.date}}</p>

  <h4>Title</h4>
  <p class="input" type="title">{{text.title}}</p>

  <h4>Your text</h4>
  <p class="input-text">{{text.text}}</p>

  <a href="/patient/dashboard" class="btn-patient">Back</a>

</div>