<div class="big-container manage-patients-wrapper">
  <h3 class="manage-patients-title">Your patients latest documents</h3>
  <table class="patients-manage-table">
    <thead>
      <tr class="table-row">
        <th class="table-head">Date</th>
        <th class="table-head">Name</th>
        <th class="table-head">Title</th>

        <th class="table-head">Read</th>
   
      </tr>
    </thead>

<tbody>
      {{#each patients}}
      <tr class="table-row">
      
<td class="table-division">
  <div>{{this.date}}</div>
</td>

<td class="table-division">
  <div>{{this.name}}</div>
</td>
<td class="table-division">
  <div>{{this.title}}</div>
</td>
<td class="table-division">
  <a href="/read-doc/{{this._id}}">Read this document</a>
</td>

      </tr>
      {{/each}}
      {{#unless patients}}
      <tr>
        <td colspan="6">Sorry no patient yet

        </td>
      </tr>
      {{/unless}}
    </tbody> 
  </table>
</div>