<header>
    <nav>
        <a href="/"><img src="https://res.cloudinary.com/dcbzfldni/image/upload/v1615282779/MyTherapy/MyTherapy-beige_jhdnvo.png" alt="My therapy logo"></a>
        {{#if doctorLoggedIn}}
            <a href="/signout"></a>
       
        {{/if}}
        {{#if patientLoggedIn}}
            <a href="/signout"></a>
        
        {{/if}}
    </nav>
</header>
