<header>
    <nav>
        <img src="/" alt="My therapy logo">
        {{#if doctorLoggedIn}}
            <a href="/signout"></a>
       
        {{/if}}
        {{#if patientLoggedIn}}
            <a href="/signout"></a>
        
        {{/if}}
    </nav>
</header>
