<nav id="nav-bar">
    <a href="/">My therapy</a>
</nav>

<section id="about-section">
    <h1>About My Therapy</h1>
    <div id="about-img">
        <div>
            <a href="https://github.com/zelumine" target="_blank"><img src="https://res.cloudinary.com/dcbzfldni/image/upload/v1618923552/photo-pour-cv2_fruqqy.jpg" alt="Mélulu"></a>
            <p><a class="subtitle" href="https://github.com/zelumine" target="_blank">Mélusine Rey</a></p>
        </div>
        <div>
            <a href="https://github.com/anachannn"><img src="https://res.cloudinary.com/dcbzfldni/image/upload/v1615485772/MyTherapy/anana%C3%AFs_qbvmyw.png" alt="Ananaïs"></a>
            <p><a class="subtitle" href="https://github.com/anachannn">Anaïs Engler</a></p>
        </div>
        <div>
            <a href="https://github.com/Mathoz"><img src="https://res.cloudinary.com/dcbzfldni/image/upload/v1615485770/MyTherapy/mamati_fsgfaz.png" alt="Mamati"></a>
            <p><a class="subtitle" href="https://github.com/Mathoz">Mathieu Lambertin</a></p>
        </div>
    </div>
    <div id="description">
        <p>
            My Therapy is a therapy notebook for the patient to write about his or her thoughts on a daily basis. This digital space is shared with his or her therapist who can read their written documents before or during the session.
            The goal ? Keep a written records of triggers, thoughts and behaviors and provide a basis for the next therapy session.
            For this project, we included the following features :
        </p> 
        <ul>
            <li>A plateform with two paths, one for the patient and one for the doctor. They are connected through collection relationships.</li>
            <li>Sign up, sign in, sign out and protected routes through middlewares for both paths with a flash messages dynamic.</li>
            <li>The ability to edit or delete their profiles for both patient and doctor</li>
            <li>A CRUD on patient side for their documents</li>
            <li>Ajax on doctor side when displaying his or her patient infos</li>
        </ul>
    </div>

</section>
