<nav id="nav-bar">
    <a href="/">My therapy</a>
</nav>

<h1>About My Therapy</h1>
<div id="about-img">
    <img src="https://res.cloudinary.com/dcbzfldni/image/upload/v1615485772/MyTherapy/m%C3%A9lulu_pwnlae.png" alt="Mélulu">
    <img src="https://res.cloudinary.com/dcbzfldni/image/upload/v1615485772/MyTherapy/anana%C3%AFs_qbvmyw.png" alt="Ananaïs">
    <img src="https://res.cloudinary.com/dcbzfldni/image/upload/v1615485770/MyTherapy/mamati_fsgfaz.png" alt="Mamati">
</div>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quisquam tempora doloribus voluptatibus reprehenderit vero ipsam voluptate, mollitia natus inventore beatae nihil provident, dolor nesciunt ea expedita praesentium nemo officiis. Porro nam ut quam? Consequuntur, ducimus illum? Blanditiis fuga labore pariatur veritatis voluptatibus ab tempora adipisci. Quia quam facere ducimus consequuntur asperiores ipsum quibusdam iure atque harum ab id hic, obcaecati quasi illo? Totam itaque, aspernatur repellendus ab cupiditate quas natus? Nihil ducimus magnam obcaecati. Sunt mollitia eligendi, neque dignissimos ab optio magni quos ad rerum sint vitae harum, sit expedita illum quidem! Maiores dolorem totam dolores voluptatum suscipit vitae!</p>