<form action="/add-document/loop">
    <h3>Describe your loop:</h3>
    <div>
        <label for="date">Date of the event:</label>
        <input type="date" name="date">
    </div>

    <div>
        <label for="triggers">What triggered this loop?</label>
        <input type="text" placeholder="Trigger(s)" name="triggers">
    </div>

    <div>
        <label for="emotionalFeelings">Which emotions did you felt?</label>
        <input type="text" placeholder="Emotional feeling(s)" name="emotionalFeelings">
    </div>

    <div>
        <label for="bodyFeelings">How did your body felt?</label>
        <input type="text" placeholder="Body feeling(s)" name="bodyFeelings">
    </div>

    <div>
        <label for="thoughts">What were you thinking?</label>
        <input type="text" placeholder="Thought(s)" name="thoughts">
    </div>

    <div>
        <label for="behaviors">What did you do?</label>
        <input type="text" placeholder="Behavior(s)" name="behaviors">
    </div>

    <h4>Alternative thoughts</h4>
    <div>
        <label for="chooseOneThought">First, choose one thought:</label>
        <input type="text" placeholder="One thought" name="chooseOneThought">
    </div>

    <p>Then, answer these questions:</p>
    <div>
        <label for="whatElse">What else could I tell me in this situation ?</label>
        <input type="text" placeholder="Should write two answers..." name="whatElse">
    </div>

    <div>
        <label for="whatSomeone">What <i>choose someone randomly</i> could think about this situation ?</label>
        <input type="text" placeholder="Should choose two people..." name="whatSomeone">
    </div>

    <div>
        <label for="whatOutsider">What an outside observer could tell about it ?</label>
        <input type="text" placeholder="Thoughts of an outsider..." name="whatOutsider">
    </div>

    <div>
        <label for="whatTwoYears">What would I say about this situation in two years ?</label>
        <input type="text" placeholder="Should write two thoughts..." name="whatTwoYears">
    </div>

    <div>
        <label for="alternativeThoughts">With all these answers, which alternative thought(s) work for you ?</label>
        <input type="text" placeholder="Alternative thought(s)" name="alternativeThoughts">
    </div>

    <button type="submit">SAVE</button>

</form>