<section id="left-bar">
    <ul>
        <li>
            LIST OF THE PATIENT
            <ul>
                <li>LIST OF THE DOC OF THE PATIENT</li>
            </ul>
        </li>
    </ul>
</section>
<section id="doc-header-bar">
    <img src="/" alt="profile picture">
    <h5>NAME</h5>
</section>
<section id="main"> 
    {{!-- for each quand clique sur un patient --}}
    <div>
        <div id="agenda">
    </div>
    <button id="add-doc">
        <i class="fas fa-plus"></i>
    </button>
    </div>
    {{!-- fin du each --}}
</section>