
<nav id="nav-bar">
    <a href="/">My therapy</a>
    <a href="/about" id="about">About</a>
</nav>

<div class="first-page-container">

    <div>
        <img class="img-first-page" src="https://res.cloudinary.com/dcbzfldni/image/upload/v1615282779/MyTherapy/MyTherapy-beige_jhdnvo.png" alt="logo">
    </div>

    <div class="background">
        <a class="btn-first-page doctor-button" href="/auth/doctor/signin">I'm a therapist</a>
        <a class="btn-first-page" href="/auth/patient/signin">I'm a patient</a>
    </div>

</div>