<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset='utf-8' />

    {{!-- LIST OF LINKS --}}
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://res.cloudinary.com/dcbzfldni/image/upload/v1615308951/MyTherapy/favicone-nuage-beige_ukld4p.png" rel="icon" type="image/x-icon" />

    {{!-- LIST OF SCRIPTS --}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  </head>
  <body>
    <a href="/">Home</a>
    {{>navBar}}
    {{{body}}}
    {{>footerBar}}
  </body>
</html>
