<section id="left-bar">
    <div id="therapist">
        <h5>My Therapist</h5>
        <img src="/" alt="therapist picture">
        <p>NAME</p>
    </div>
    <div id="my-documents">
        <h5>My Documents</h5>
        <ul>
            <li>list of docs</li>
        </ul>
    </div>
</section>
<section id="head-infos">
    <div id="therapy">
        <h5>My Therapy</h5>
        <p>NAME</p>
    </div>
    <div id="account">
        <img src="/" alt="profil picture">
        <h5>NAME</h5>
        <button>Edit Profil</button>
    </div>
    <div id="goal">
        <h5>GOALS:</h5>
        <p>NAME</p>
    </div>
</section>
<section id="main">
    <div id="agenda">
    </div>
    <button id="add-doc">
        <i class="fas fa-plus"></i>
    </button>
</section>