@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('./mod.auth.css');
@import url('./tableManageDocuments.css');


/* 
colors
bleu : #B1D4F1
beige : #F4CD99
*/

* {
  box-sizing: border-box;
  font-family: Alata;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.first-page-container{
  display: flex;
  flex-direction: column;
}

.background{
  background-color: #f9f5f5;
}

.img-first-page{
  max-width: fit-content;
}

.btn-first-page{
  font-size: larger;
  text-decoration: none;
  text-align: center;
  margin:40px;
  padding:15px;
  padding-left: 90px;
  padding-right: 90px;
  background-color: #f4cd99c0;
  color: white;
  border: none;

}

.btn-first-page:hover{
  background-color: white;
  color: black;
  border: 2px solid #F4CD99;
}

footer{
  background-color: #795930;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 50px;
}

/* PATIENT DASHBOARD */

#patient-nav{
  border-bottom: 8px solid #795930;
  display: flex;
  height: 10vh;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  margin: 20px 0;
  color: black;
  font-size: 1.2em;
  font-weight: 300;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 50px;
  background-color: white;
}

#logo-patient{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#patient-nav a{
  color: black;
}

#patient-nav h1{
  margin-left: 20px;
}

#patient-nav img{
  width: 50px;
  height: 50px;
}

#all{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  height: 80vh;
  margin-top: 12vh;
}

/* LEFT BAR */

#left-bar{
  height: 100%;
  width: 15%;
  background-color: rgb(244, 205, 153, .5);
}

#therapist{
  margin-left: 20px;
  margin-top: 10px;
  position: fixed;
}

#therapist img{
  width: 7em;
  height: 7em;
  border-radius: 50%;
  margin: 0 20px 20px;
}

#therapist h5{
  font-size: 1.5em;
  font-weight: 700;
  margin: 20px 0;
}

#therapist p{
  font-size: 1.2em;
  font-weight: 500;
}

/* RIGHT BAR */

#right-bar{
  width: 80%;
  display: flex;
  flex-direction: column;
}

#head-infos{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

#account{
  display: flex;
	justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}

#bttns{
  display: flex;
  flex-direction: column;
  margin: 20px 10px 0 20px;
}

.btn-patient-profile{
    text-decoration: none;
    text-align: end;
    margin: 10px;
    color: white;
    transition: .2s;
}

.btn-patient-profile a{
  color: white;
}

.btn-patient-profile i{
  color: #F4CD99;
  margin-left: 10px;
}

.btn-patient-profile:hover{
  color: #F4CD99;
}

#account img{
  width: 7em;
  height: 7em;
  margin: 0;
  border-radius: 50%;
  border: 7px solid white;
}

#account h5{
  font-size: 1.3em;
  font-weight: 600;
  margin: 10px;
  width: 70%;
  text-align: end;
}

#head-infos h5{
  font-size: 1.5em;
  font-weight: 700;
  margin: 20px;
}

#head-infos p{
  font-size: 1.5em;
  font-weight: 500;
  margin: 0 20px ;
}

/* TABLE */

#main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#document-manager{
  width: 100%;
  margin-top: 50px;
  padding-left: 20px;
}

#add-doc{
  width: 25px;
  height: 25px;
  margin: 30px 10em 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
  border-radius: 20%;
  color: black;
}

#add-doc:hover{
  border: 2px solid black;
  color: black;
  background-color: white;
  border-radius: 50%;
}