@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* 
colors
bleu : #B1D4F1
beige : #F4CD99
*/

* {
  box-sizing: border-box;
  font-family: Alata;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

body {
  padding: 50px;
}

a {
  color: #00B7FF;
}
