/* DOC TABLE */

.doctor-patient-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doctor-patient-info img {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  margin: 20px 20px 20px;
}

.doctor-manage-table{
  display:none;
  margin: 50px 20px 50px 60px;
}

.manage-patients-wrapper {
  padding: 0 1.2rem;
  flex-direction: column;
}

h3.manage-patients-title {
  border-bottom: 1px solid rgb(212, 212, 212);
  padding-bottom: 0.8rem;
  margin-bottom: 2rem;
  font-size: large;
  height: 49px;
}

.patients-manage-table {
  border: 1px solid;
  width: 80%;
}

.table-row {
  display: flex;
}

.table-division {
  border-bottom: 1px solid;
  padding: 1rem;
  padding-left: 25px;
  display: flex;
  width: 25%;
}

.table-head {
  width: 25%;
  /* border: 1px solid; */
  padding: 1rem;
  text-align: left;
  font-weight: 600;
  background-color: #b1d4f1d8;
}

.table-head-patient {
  width: 25%;
  /* border: 1px solid; */
  padding: 1rem;
  text-align: left;
  font-weight: 600;
  background-color:#F4CD99;
}

.table-icon:hover {
  cursor: pointer;
  color: rgb(52, 52, 255);
}

.patients-manage-table tbody tr:only-child td {
  padding: 1rem;
  text-align: center;
}

.doctor-row, .doctor-division{
  width: 200px;
  text-align: center;
}

.doctor-division{
  display: flex;
  justify-content: center;
}